<%= form_for @advise, url: product_advises_path(product_id: params[:product_id]), method: :post do |f| %>

<div class="container">
<div class="col-md-12">
	<div><%= f.label :投稿人情報 %></div>
		<%= f.text_field :user_name, value: "30代 / 男性 / 元社員(非正社員) / 営業 " %>
	<div><%= f.label :メリット %></div>
		<%= f.text_area :merit, placeholder: "メリットを書いてください" , style: "width: 80%; height: 300px;"%>
	<div><%= f.label :デメリット %></div>
		<%= f.text_area :demerit, placeholder: "デメリットを書いてください" , style: "width: 80%; height: 300px;"%>
	<%=f.submit '送信！', class: 'btn btn-primary btn-lg btn-block' %>
</div>
</div>
<%end%>

