<% if admin_signed_in? %>
<%= link_to "ログアウトする", destroy_admin_session_path, method: :delete, class: "btn btn-primary btn-block" %>
<% end %>

<%= image_tag '/header.png', width: "100%" %>
<div  class="little_padding"></div>
<div class="flexiblebox search_main_box">
	<div class="search_title">商品名で探す</div>
	<div class="search_input_box">
		<%= form_tag(home_searched_products_path, method: :get ,style: "display: inline;") do%>
			<%= text_field_tag :search_product,'', size: 80 , placeholder: '例）〇〇ファンド' %>
			<div style="display:inline"><%= submit_tag '検索', name: nil ,class: "btn btn-secondary", style: " width: 15%;text-align: center;" %>
			</div>
		<% end %>
	</div>
</div>
<div  class="little_padding"></div>

<% if admin_signed_in? %>
	<%= link_to '販売店追加', new_store_path,  class: "btn btn-primary"%>
	<%= link_to '商品追加', new_product_path,  class: "btn btn-primary"%>
<% end %>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6 col-lg-9">
			<p style="font-size: 1.3em; font-weight: 800;">新着コメント</p>
			<div class="row">
				<% @advises.each do |a| %>
					<div class="col-lg-4 col-xs-12 ">
						<div class="card_inner">
							<div class="card_advise_product_name"><%= a.product.product_name %></div>
							<p style="font-weight: 900; text-align:center ;">リスク</p>
							<div class="risk_return_text_box"><%= a.merit.truncate(50) %></div>
							<p style="font-weight: 900; text-align:center ;">リターン</p>
							<div class="risk_return_text_box"><%= a.demerit.truncate(50) %></div>
							<%= link_to "詳細へ", product_path(id: a.product_id) ,class: "btn btn-info btn-lg" %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<div class="col-xs-6 col-lg-3 side">
			<p style="text-align: center;">販売会社</p><hr>
			<div class="row">
				<% @stores.each do |s| %>
				<div class="col-xs-6 col-md-6 center">
					<%= link_to "#{s.store_name}",home_store_products_path, class: "center"  %>
					<%#= s.store_name %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
