<div class="background">
<div class="header_box_top">
	<div class="d-flex bd-highlight mb-3">
		<%= link_to "リスクとリターン", root_path, class: "app_name mr-auto p-2 bd-highlight" %>
		<% if user_signed_in? %>
		<%=link_to 'ログアウト',destroy_user_session_path, method: :delete, class: "flexiblebox signed_in" %>
		<% else %>
		<%= link_to "新規登録",  new_user_registration_path,method: :get, class: "flexiblebox signed_up" %>
		<%= link_to "ログイン",  new_user_session_path, method: :get, class: "flexiblebox signed_in" %>
		<% end %>
	</div>
	<div class="flexiblebox search_main_box">
		<div class="search_title">商品名または販売店名で探す</div>
		<div class="search_input_box">
			<%= form_tag(home_searched_products_path, method: :get ,style: "display: inline;") do%>
				<%= text_field_tag :search_product,'', size: 80 , placeholder: '例）〇〇ファンド' %>
				<div style="display:inline"><%= submit_tag '検索', name: nil ,class: "btn btn-secondary", style: " width: 15%;text-align: center;" %></div>
			<% end %>
		</div>
		<div class="row" style="text-align: left;">
			<div class="col-sm-2"></div>
			<div class="col-sm-4">
				<%= link_to "・ニッセイJPX日経400インデックスファンド", root_path ,class: "obj_link" %>
				<%= link_to "・ニッセイJリートオープン", root_path ,class: "obj_link" %>
				<%= link_to "・のむラップ・ファンド", root_path ,class: "obj_link" %>
			</div>
			<div class="col-sm-4">
				<%= link_to "・楽天証券", root_path ,class: "obj_link" %>
				<%= link_to "・東海東京証券", root_path ,class: "obj_link" %>
				<%= link_to "・十六ＴＴ証券株式会社", root_path ,class: "obj_link" %>
			</div>
		</div>
	</div>
</div>
<div class="intro">
	リスクとリターンは投資信託の商品に対し、その商品を買うことのリスクとリターンをまとめたポータルサイトです。
</div>
	<%= link_to '販売店追加', new_store_path,  class: "btn btn-primary"%>
	<%= link_to '商品追加', new_product_path,  class: "btn btn-primary"%>
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-3" style="margin-top: 10px;">
		<div class="products_side_box">
			<div class="product_header"> 商品一覧</div>
			<% @products.each do |p| %>
				<ul>
					<li><%=link_to "#{p.product_name}",class: "font_color" %></li>
				</ul>
			<% end %>
		</div>
		<div class="stores_side_box">
			<div class="store_header"> 販売店一覧</div>
			<% @stores.each do |s| %>
				<ul>
					<li><%=link_to "#{s.store_name}",class: "font_color" %></li>
				</ul>
			<% end %>
		</div>
	</div>
	<div class="col-sm-6">
		<% @products.each do |p| %>
		<div class="card">
			<div class="card-header" style="background-color: #1564B3;"></div>
	      	<div class="card-body">
				<h5 class="card-title" style="text-align: center; font-size: 1.8em;"><%= p.product_name %></h5>
<!-- 				<p style="text-align: center;">リターン</p>
				<p class="riturn card-text"><%= p.advises.first.merit %></p>
				<p style="text-align: center;">リスク</p>
	        	<p class="risk card-text"><%= p.advises.first.demerit %></p> -->
				<%=link_to  "さらに見る", product_path(p.id) ,class: "btn btn-outline-primary btn-block" %>
	      	</div>
    	</div>
    	<% end %>
	</div>
	<div class="col-sm-1"></div>
	</div>
	</div>