<div class="background">
<div class="header_box_top">
	<div class="d-flex bd-highlight mb-3">
		<%= link_to "リスクとリターン", root_path, class: "app_name mr-auto p-2 bd-highlight" %>
		<% if user_signed_in? %>
		<%=link_to 'ログアウト',destroy_user_session_path, method: :delete, class: "flexiblebox signed_in" %>
		<% else %>
		<%= link_to "新規登録",  new_user_registration_path,method: :get, class: "flexiblebox signed_up" %>
		<%= link_to "ログイン",  new_user_session_path, method: :get, class: "flexiblebox signed_in" %>
		<% end %>
	</div>
	<div class="introduction_of_app">
		<p id="introduction_of_app">ああああああああああああああああああリスクとリターンは投資信託の商品に対し、その商品を買うことのリスクとリターンをまとめたポータルサイトです。金融商品〇〇〇ってどうなの？？
		</p>
	</div>
	<div class="flexiblebox search_main_box">
		<div class="search_title">商品名または販売店名で探す</div>
		<div class="search_input_box">
			<%= form_tag(home_searched_products_path, method: :get ,style: "display: inline;") do%>
				<%= text_field_tag :search_product,'', size: 80 , placeholder: '例）〇〇ファンド' %>
				<div style="display:inline"><%= submit_tag '検索', name: nil ,class: "btn btn-secondary", style: " width: 15%;text-align: center;" %></div>
			<% end %>
		</div>
	</div>
</div>
<div class="introduction_of_app">
	<p id="introduction_of_app">
	あああああああああああああああああいいい
	あリスクとリターンは投資信託の商品に対し、
	その商品を買うことのリスクとリターンをまとめたポータルサイトです。
	金融商品〇〇〇ってどうなの？？</p>
</div>
	<%= link_to '販売店追加', new_store_path,  class: "btn btn-primary"%>
	<%= link_to '商品追加', new_product_path,  class: "btn btn-primary"%>



<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<div class="products_side_box">
			<% @stores.each do |s| %>
				<div class="product_header"><%= s.store_name %></div>
				<% s.products.each do |p| %>
				<ul>
					<li><%= link_to "#{p.product_name}", store_product_path(store_id: s.id, id: p.id), method: :get %></li>
				</ul>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="col-sm-2"></div>
</div>

</div>