<%= image_tag '/header.png', width: "100%" %>

<div class="flexiblebox search_main_box">
	<div class="search_title">商品名または販売店名で探す</div>
	<div class="search_input_box">
		<%= form_tag(home_searched_products_path, method: :get ,style: "display: inline;") do%>
			<%= text_field_tag :search_product,'', size: 80 , placeholder: '例）〇〇ファンド' %>
			<div style="display:inline"><%= submit_tag '検索', name: nil ,class: "btn btn-secondary", style: " width: 15%;text-align: center;" %>
			</div>
		<% end %>
	</div>
</div>

<%= link_to '販売店追加', new_store_path,  class: "btn btn-primary"%>
<%= link_to '商品追加', new_product_path,  class: "btn btn-primary"%>

<div class="container-fluid">
<div class="row">
	<div class="col-sm-6 col-md-9">
		<p>新着コメント</p>
		<div class="row">
			<% @products.each do |p| %>
			<div class="col-sm-12 col-md-4 advise_card">
				<div class="card_inner">
				<%= p.product_name %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<div class="col-sm-6 col-md-3 side">
		<p style="text-align: center;">販売会社</p><hr>
		<div class="row">
			<% @stores.each do |s| %>
			<div class="col-sm-6 col-md-6 center">
				<%= s.store_name %>
			</div>
			<% end %>
		</div>
	</div>
</div>
