<div class="container">
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-8 col-xs-12">
			<div class="border-product">
			<div class="product_name_box"><%= @product.product_name %></div>
			<div class="product_link">
				詳細はこちら<br>
				<%#= @product.product_url %><br>
				関連リンク<br>
			</div>
			<hr>
			<div class="product_store_list">
				販売会社<br>
				<% @stores.each do |s| %>
					<%= s.store_name %>/
				<% end %>
			</div>
			</div>
		</div>
		<div class="col-lg-2"></div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-10">
			<div class="row">
				<% @advises.each do |a| %>
					<div class="col-lg-2">
						<div class="row">
							<div class="col-xs-4"></div>
							<div class="col-xs-4" style="text-align: center;">
								<%= image_tag '/hito.png', width: "60%" %>
							</div>
							<div class="col-xs-4"></div>		
							<div class="user_name"><%= a.user_name %></div>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="risk">リスク</div>
						<div class="merit_demerit_box">
							<%= a.merit %>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="return">リターン</div>
						<div class="merit_demerit_box">
							<%= a.demerit %>
						</div>
					</div>	
				<% end %>
			</div>
			<hr>
		</div>
		<div class="col-lg-2">
			<div style="text-align: center;">販売会社</div>
			<hr>
			<div class="row">
				<% @all_stores.each do |s| %>
					<div class="col-lg-6">
						<%= s.store_name %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>