<div class="header_box_top">
	<div class="d-flex bd-highlight mb-3">
		<%= link_to "リスクとリターン", root_path, class: "app_name mr-auto p-2 bd-highlight" %>
		<% if user_signed_in? %>
		<%=link_to 'ログアウト',destroy_user_session_path, method: :delete, class: "flexiblebox signed_in" %>
		<% else %>
		<%= link_to "新規登録",  new_user_registration_path,method: :get, class: "flexiblebox signed_up" %>
		<%= link_to "ログイン",  new_user_session_path, method: :get, class: "flexiblebox signed_in" %>
		<% end %>
	</div>
	<div class="flexiblebox search_main_box">
		<div class="search_title">商品名または販売店名で探す</div>
		<div class="search_input_box">
			<%= form_tag(home_searched_products_path, method: :get ,style: "display: inline;") do%>
				<%= text_field_tag :search_product,'', size: 80 , placeholder: '例）〇〇ファンド' %>
				<div style="display:inline"><%= submit_tag '検索', name: nil ,class: "btn btn-secondary", style: " width: 15%;text-align: center;" %></div>
			<% end %>
		</div>
	</div>
</div>

<div class="background">
<div class="product_main_box">
	<%= @product.product_name %><br>
	<div class="st_box">販売店一覧</div>
	<% @stores.each do |s| %>
		<div class="store_of_product"><%= s.store_name %></div>
	<% end %>
	<i class="fa fa-comment fa-1x" style="color: #FFA500;"></i><%= @product.advises.count %>件
</div>
<%= link_to 'アドバイスを追加', new_product_advise_path(product_id: params[:id]), class: "btn btn-primary" %>

<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<% @advises.each do |a| %>
		<div class="advise_main_box">
			<div style="text-align: center; color: grey;">投稿者：<%= a.user_name %></div>
			<hr>
			<div style="text-align: center; font-weight: 700;">リスク</div>
			<div>
			<div class="balloon-set-box left">

				<i class="fa fa-user fa-3x grey"></i>
				<div class="balloon">
					<%= a.merit %>
				</div>
			</div>
			</div>
			<div style="text-align: center; font-weight: 700;">リターン</div>
			<div>
			<div class="balloon-set-box left">
				<i class="fa fa-user fa-3x grey"></i>
				<div class="balloon2">
					<%= a.demerit %>
				</div>
			</div>
			</div>
		</div>
		<% end %>
	</div>
	<div class="col-sm-1"></div>
</div>
</div>