<!DOCTYPE html>
<html>
  <head>
    <title>FinanceCom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body style="background-color: #EEEEEE">
    <div class="wrapper">
      <div class="header_box">
        <h2><%=link_to "Risk&returN" , root_path %></h2>
      </div>
      <div class="container-fluid" style="background-color: #EEEEEE">
        <%= yield %>
      </div>
<!--       <div class="footer">
        <p>(c)copy right</p>
      </div> -->
    </div>
  </body>
</html>
